<div id="user-login-form" class="user-form-container">
  <h1 id="user-login-header" class="user-form-header">Log In</h1>
  <%= form_with url: login_path, id: "login-user", class: "user-form" do |f| %>
  <div id="login-user-email" class="float-container">
    <%= f.label :email %>
    <%= f.email_field :email, id: "session_email", name: "session[email]"%>
  </div>
  <div id="login-user-password" class="float-container">
    <%= f.label :password %>
    <%= f.password_field :password, id: "session_password", name: "session[password]"%> 
  </div>
  <div id="login-user-submit" class="user-submit">
    <%= f.submit "Log In", id: "login-user-submit-button", class: "submit-close-buttons submit-button" %>
    <button id="login-user-close-button" class="submit-close-buttons close-button">Cancel</button>
    <% end %>
  </div>
</div>