<div id="new-comment-container" data-comment-id="<%= @existing_post ? @existing_post.id : @existing_comment.id %>">
  <%= form_with model: @comment, id: "new-comment", class: "comment-form" do |f| %>
    <% if @existing_post %>
      <%= f.hidden_field :post_id, value: @existing_post.id %>
      <h1 id="new-comment-header" class="comment-form-header">Got any feedback or thoughts?</h1>
    <% elsif @existing_comment %>
      <h1 id="new-comment-header" class="comment-form-header">Reply to this comment:</h1>
      <%= f.hidden_field :comment_id, value: @existing_comment.id %>
    <% end %>
    <% if logged_in? %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    <% else %>
      <div id="new-guest-first-name" class="float-container">
        <%= f.label :first_name %>
        <% if existing_guest_user? && existing_guest_user?.guest_first_name_updated? %>
          <%= f.text_field :first_name, value: existing_guest_user?.first_name %>
        <% else %>
          <%= f.text_field :first_name %>
        <% end %>
      </div>
      <div id="new-guest-last-name" class="float-container">
        <%= f.label :last_name %>
        <% if existing_guest_user? && existing_guest_user?.guest_last_name_updated? %>
          <%= f.text_field :last_name, value: existing_guest_user?.last_name  %>
        <% else %>
          <%= f.text_field :last_name  %>
        <% end %>
      </div>
    <% end %>
    <div id="new-comment-content" class="">
      <%= f.rich_text_area :content, class: "trix-content" %>
    </div>
    <div id="new-comment-submit" class="comment-submit">
     <% if @existing_post %>
       <%= f.submit logged_in? ? "Create Comment" : "Add Comment As Guest", id: "new-comment-submit-button", class: "submit-close-buttons submit-button" %>
      <button id="new-comment-close-button" data-post-id="<%= @existing_post.id %>" class="submit-close-buttons close-button all-close">Cancel</button>
    <% elsif @existing_comment %>
       <%= f.submit logged_in? ? "Reply To Comment" : "Reply To Comment As Guest", id: "new-comment-submit-button", class: "submit-close-buttons submit-button" %>
       <button id="new-comment-close-button" data-comment-id="<%= @existing_comment.id %>" class="submit-close-buttons close-button all-close">Cancel</button>
    <% end %>
    </div>
  <% end %>
  <% if !logged_in? %>
    <div id="sign-up-login-container">
     <% if @existing_post %>
       <h1 id="" class="comment-form-header">Or to comment as a user:</h1>
    <% elsif @existing_comment %>
       <h1 id="" class="comment-form-header">Or to reply to comment as a user:</h1>
    <% end %>
      <%= link_to login_path, class: "no-link-color", title: "Login", remote: true do %>
        <button id="login-user-submit-button" class="submit-close-buttons submit-button">Login</button>
      <% end %>
      <% if existing_guest_user? %>
        <%= link_to new_user_path, class: "no-link-color", title: "Sign Up", remote: true do %>
          <button id="get-edit-guest-user-button" class="submit-close-buttons submit-button">Sign Up</button>
        <% end %>
      <% else %>
        <%= link_to signup_path, class: "no-link-color", title: "Sign Up", remote: true do %>
          <button id="login-user-submit-button" class="submit-close-buttons submit-button">Sign Up</button>
        <% end %>
      <% end %>
      <div class="signup-login-info">
        <%= link_to 'Why do this?', signup_login_info_path, id: 'remember-me-text-link', remote: true  %>
      </div>
    </div>
  <% end %>
</div>
