<div class="show-comment-wrapper<% if nested %> nested-wrapper<% end %>" data-comment-wrapper-id="<%= comment.id %>">
  <div class="show-comment-container<% if nested %> nested-container<% end %>" data-comment-container-id="<%= comment.id %>">
    <div class="show-comment-body">
      <% if comment.author.image.attached?%>
        <span class="user-profile-pic-small"><%= image_tag comment.author.image.variant(resize_to_limit: [100, 100]) %></span>
      <% else %>
        <span class="user-profile-avatar"><i class="fas fa-user-astronaut"></i></span>
      <% end%>
      <p class="gray-content"><%= comment.author.name %> <% if nested %> replied: <% else %> said:<% end %></p>
      <%= comment.content %>
      <p class="gray-content"><%= time_ago_in_words(comment.created_at).capitalize %> ago</p>
    </div>
    <div class="show-comment-controls">
      <% if logged_in? && current_user?(comment.author) %>
        <%= link_to edit_comment_path(comment), class: "no-link-color", title: "Edit comment", remote: true do %>
          <button id="login-user-close-button" class="submit-close-buttons submit-button">Edit Comment</button>
        <% end %>
      <% end %>
      <% if logged_in? && current_user?(comment.author) || current_user && current_user.admin? %>
        <%= link_to comment_path(comment), class: "no-link-color", title: "Delete comment", method: "delete", data: { confirm: "Are you sure?" } do %>
          <button id="login-user-submit-button" class="submit-close-buttons close-button all-close">Delete Comment</button>
        <% end %>
      <% end %>
      <%= link_to new_comment_path(comment_id: comment.id), class: "no-link-color", id: "reply-to-comment-button", title: "Reply To Comment", data: {comment_id: comment.id}, remote: true do %>
        <div id="reply-to-comment"><i class="fas fa-reply"></i><span>  Reply</span></div>
      <% end %>
    </div>
  </div>
  <% if !comment.comments.empty?  %>
  <% comment.comments.each do |child_comment| %>
    <%= render 'comments/show_comment', comment: child_comment, nested: true %>
  <% end %>
<% end %>
</div>
