<section id="projects-container">
  <h1 class="header mobile-row-1">Projects</h1>

  <a class="no-link-color project-card" id="rdj_logo" href="https://www.ralphdonaldjessee.com/" target="_">
    <div class="link-image 2">
      <%= image_tag("rdjlogo.png", class: 'project-image') %>
    </div>
    <p id="rdj-caption" class="image-label">A web application to host stories my grandfather wrote</p>
  </a>

  <a class="no-link-color project-card" id="nycycle-logo" href="https://nycycle-1.herokuapp.com/" target="_">
    <div class="link-image">
      <%= image_tag("nycycle.png", class: 'project-image') %>
    </div>
    <p id="nycycle-caption" class="image-label">A web application to find the closest recycling bin to you in NYC</p>
  </a>

  <a class="no-link-color project-card" id="water-logo" href="https://github.com/ajessee/visualize_NYC_resevoir_levels" target="_">
    <div class="link-image">
      <%= image_tag("water.png", class: 'project-image') %>
    </div>
    <p id="water-caption" class="image-label">A command line application to visualize NYC reservoir levels</p>
  </a>

  <a class="no-link-color project-card" id="headup-logo" href="https://head-up.herokuapp.com/" target="_">
    <div class="link-image">
      <%= image_tag("headUp.png", class: 'project-image') %>
    </div>
    <p id="water-caption" class="image-label">A web application for my friend's business</p>
  </a>

  <a class="no-link-color project-card" id="toefl-logo" href="https://github.com/ajessee/toefl_audio_essay_feature" target="_">
    <div class="link-image">
      <%= image_tag("toefl.png", class: 'project-image') %>
    </div>
    <p id="water-caption" class="image-label">A feature I built for Kaplan, Inc. for their TOEFL prep product</p>
  </a>


  <a class="no-link-color project-card" id="toefl-logo" href="https://github.com/ajessee/ruby_scripts" target="_">
    <div class="link-image">
      <%= image_tag("ruby.png", class: 'project-image') %>
    </div>
    <p id="water-caption" class="image-label">A collection of Ruby scripts I wrote for work at Kaplan, Inc.</p>
  </a>

</section>