<div id="edit-user-picture-controls">
  <%= form_with model: @user, id: "add-user-picture", local: true do |f| %>
    <%= f.label "Choose File And Upload" %>
    <div id="new-user-picture">
      <%= f.file_field :image, accept: 'image/jpeg,image/png,image/gif,image/vnd.microsoft.icon', id: 'user-picture-choose-file' %>
    </div>
    <div id="new-user-picture-submit" class="post-submit">
      <%= f.submit "Upload Picture", id: "upload-user-picture-button", class: "disabled-button submit-button" %>
      <button id="cancel-user-picture-edit" class="submit-close-buttons close-button all-close">Cancel</button>
    </div>
  <% end %>
  <% if @user.image.attached? %>
    <%= link_to remove_user_image_path(@user), class: "no-link-color", id: "remove-user-image-button", title: "Remove User Image", data: { confirm: "Are you sure you want to remove this picture?" } do %>
      <button id="remove-user-picture" class="submit-close-buttons close-button all-close">Remove Picture</button>
    <% end %>
  <% end%>
</div>
