<% if current_or_guest_user.guest %>
  <% @user = guest_user %>
  <% @guest = true %>
  <% @header = "Sign Up"%>
<% end %>
<% if @guest %>
  <%= form_with model: @user, id: "edit-user", class: "user-form" do |f| %>
    <h1 id="user-edit-header" class="user-form-header"><% if @header %>Sign Up<%else%>Update Profile<%end%></h1>
    <div id="edit-user-first-name" class="float-container">
      <%= f.label :first_name %>
      <% if @guest && !guest_user.guest_first_name_set %>
        <%= f.text_field :first_name, value: "", class: "input-error" %>
      <% else %>
        <%= f.text_field :first_name, class: "input-error" %>
      <% end %>
      <%= render "shared/single_user_error_message", attr: :first_name.to_s%>
    </div>
    <div id="edit-user-last-name" class="float-container">
      <%= f.label :last_name %>
      <% if @guest && !guest_user.guest_last_name_set %>
        <%= f.text_field :last_name, value: "", class: "input-error" %>
      <% else %>
        <%= f.text_field :last_name, class: "input-error" %>
      <% end %>
      <%= render "shared/single_user_error_message", attr: :last_name.to_s%>
    </div>
    <div id="edit-user-email" class="float-container">
      <%= f.label :email %>
      <% if @guest %>
        <%= f.email_field :email, value: "", class: "input-error" %>
      <% else %>
        <%= f.email_field :email, class: "input-error" %>
      <% end %>
      <%= render  "shared/single_user_error_message", attr: :email.to_s%>
    </div>
    <div id="edit-user-password" class="float-container">
      <%= f.label :password %>
      <%= f.password_field :password, class: "input-error" %>
      <%= render  "shared/single_user_error_message", attr: :password.to_s%>
    </div>
    <div id="edit-user-password-confirmation" class="float-container">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "input-error" %>
      <%= render  "shared/single_user_error_message", attr: :password_confirmation.to_s%>
    </div>
    <div id="edit-user-submit" class="user-submit">
      <%= f.submit "Update Account", id: "edit-user-submit-button", class: "submit-close-buttons submit-button" %>
      <% if @guest %>
        <button id="new-user-close-button" class="submit-close-buttons close-button all-close">Cancel</button>
      <% else %>
        <button id="edit-user-close-button" class="submit-close-buttons close-button all-close">Cancel</button>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= form_with model: @user, id: "edit-user", class: "user-form", local: "true" do |f| %>
    <h1 id="user-edit-header" class="user-form-header"><% if @header %>Sign Up<%else%>Update Profile<%end%></h1>
    <div id="edit-user-first-name" class="float-container">
      <%= f.label :first_name %>
      <% if @guest && !guest_user.guest_first_name_set %>
        <%= f.text_field :first_name, value: "", class: "input-error" %>
      <% else %>
        <%= f.text_field :first_name, class: "input-error" %>
      <% end %>
      <%= render "shared/single_user_error_message", attr: :first_name.to_s%>
    </div>
    <div id="edit-user-last-name" class="float-container">
      <%= f.label :last_name %>
      <% if @guest && !guest_user.guest_last_name_set %>
        <%= f.text_field :last_name, value: "", class: "input-error" %>
      <% else %>
        <%= f.text_field :last_name, class: "input-error" %>
      <% end %>
      <%= render "shared/single_user_error_message", attr: :last_name.to_s%>
    </div>
    <div id="edit-user-email" class="float-container">
      <%= f.label :email %>
      <% if @guest %>
        <%= f.email_field :email, value: "", class: "input-error" %>
      <% else %>
        <%= f.email_field :email, class: "input-error" %>
      <% end %>
      <%= render  "shared/single_user_error_message", attr: :email.to_s%>
    </div>
    <div id="edit-user-password" class="float-container">
      <%= f.label :password %>
      <%= f.password_field :password, class: "input-error" %>
      <%= render  "shared/single_user_error_message", attr: :password.to_s%>
    </div>
    <div id="edit-user-password-confirmation" class="float-container">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "input-error" %>
      <%= render  "shared/single_user_error_message", attr: :password_confirmation.to_s%>
    </div>
    <div id="edit-user-submit" class="user-submit">
      <%= f.submit "Update Account", id: "edit-user-submit-button", class: "submit-close-buttons submit-button" %>
      <% if @guest %>
        <button id="new-user-close-button" class="submit-close-buttons close-button all-close">Cancel</button>
      <% else %>
        <button id="edit-user-close-button" class="submit-close-buttons close-button all-close">Cancel</button>
      <% end %>
    </div>
  <% end %>
<% end %>
