<%= form_with model: @project, id: "new-project-form", class: "user-form", local: true do |f| %>
  <h1 id="new-project-header" class="user-form-header">Create New Project</h1>
  <div id="new-project-name" class="float-container">
    <%= f.label :name %>
    <%= f.text_field :name, class: "input-error", required: true  %>
    <%= render  "shared/single_project_error_message", attr: :name.to_s%>
  </div>
  <div id="new-project-description" class="float-container">
    <%= f.label :description %>
    <%= f.text_field :description, class: "input-error", required: true  %>
    <%= render  "shared/single_project_error_message", attr: :description.to_s%>
  </div>
  <div id="new-project-picture" class="check-box-container">
    <div>
      <%= f.label "Project Thumbnail" %>
    </div>
      <%= f.file_field :image, id: 'project-picture-choose-file' %>
    </div>
  <div id="new-project-info-box" class="check-box-container">
    If this is an internal project, you'll need to create the view erb file that matches the name of this new project plus any needed javascript
  </div>
  <div id="new-project-external-url" class="check-box-container">
    <p>External URL?</p>
      <%= f.label :external_url, class: "switch" do %>
      <%= f.check_box :external_url %>
      <div class="slider round"></div>
      <% end %>
  </div>
  <div id="new-project-url" class="float-container">
    <%= f.label :url %>
    <%= f.text_field :url, class: "input-error" %>
  </div>
  <div id="new-project-submit" class="user-submit">
    <%= f.submit "Create Project", id: "new-project-submit-button", class: "submit-close-buttons submit-button" %>
    <button id="new-project-close-button" class="submit-close-buttons close-button all-close">Cancel</button>
  </div>
<% end %>