<section id="nyc-project-container">

  <% if mobile_device == "mobile" %>
    <%= will_paginate @resources, :page_links => false %>
  <% else %>
    <%= will_paginate @resources %>
  <% end %> 

  <% if mobile_device == "mobile" %>
  <div id="nyc-project-date-picker-wrapper">
    <div id="nyc-project-date-picker"></div>
  </div>
  <% end %> 
  
  <% @resources.each do |r| %>
  <% provide(:title, "A Year In NYC | Day #{r.day}") %>
  <div id="nyc-project-caption">
    <%= hidden_field_tag(:current_date, r.day, id: 'nyc-pic-current-date') %>
    <%= r.caption.match(/[^#]*/) %>
      <% r.caption.match(/\#(.*)/).to_s.split(" ").each do |tag| %>
      <% if (tag[0]== "#") %>
      <a href="http://instagram.com/tags/<%= tag[1..-1] %>" target="_"><%= tag %></a>
      <% end %>
    <% end %>
  </div>
  <div id="nyc-project-media">
    <% if r.image.attached? && r.resource_type == "image" %>
      <%= image_tag(r.image.variant(resize: '600x600')) %>
    <% elsif r.image.previewable? && r.resource_type == "video" %>
      <%= video_tag rails_blob_path(r.image.attachment.blob), controls: true, autoplay: true %>
    <% end %>
  </div>
  <% end %>
  
</section>