<section id="nyc-project-container">
  
  <div id="nyc-project-navigation">
    <%= content_tag(:a, "← Previous", class: "previous-page", rel: "prev", href: (@previous_page != nil ? "/projects/a-year-in-nyc?page=" + @previous_page : nil), disabled: (@previous_page == nil ? "true": nil) ) %>
    <span class="nyc-project-date-picker-container"><%= text_field_tag(:nyc_project_date_picker, nil,  id: 'nyc-project-date-picker') %></span>
    <%= content_tag(:a, "Next →", class: "next-page", rel: "next", href: (@next_page != nil ? "/projects/a-year-in-nyc?page=" + @next_page : nil), disabled: (@next_page == nil ? "true": nil) ) %>
  </div>

  
  <% @resources.each do |r| %>
  <% provide(:title, "A Year In NYC | Day #{r.day}") %>
  <div id="nyc-project-caption">
    <%= hidden_field_tag(:current_date, r.day, id: 'nyc-pic-current-date') %>
    <%= r.caption.match(/[^#]*/) %>
      <% r.caption.match(/\#(.*)/).to_s.split(" ").each do |tag| %>
      <% if (tag[0]== "#") %>
      <a href="http://instagram.com/tags/<%= tag[1..-1] %>" target="_"><%= tag %></a>
      <% end %>
    <% end %>
  </div>
  <div id="nyc-project-media">
    <% if r.image.attached? && r.resource_type == "image" %>
      <%= image_tag(r.image.variant(resize: '600x600')) %>
    <% elsif r.image.previewable? && r.resource_type == "video" %>
      <%= video_tag rails_blob_path(r.image.attachment.blob), controls: true, autoplay: true %>
    <% end %>
  </div>
  <% end %>
  
</section>