<% provide(:title, "Projects") %>
<section id="all-projects-container" class="projects-container">
  <h1 class="projects-header">All Projects</h1>

  <% @user.projects.each do |project| %>
  <div class="project-card">
      <% if logged_in? && current_user.admin? %>
      <div class="project-card-controls">
          <%= link_to edit_project_path(project), class: "no-link-color", title: "Edit Project", remote: true do %>
          <i class="far fa-edit fa-1x nav-menu-icon" aria-hidden="true"></i>
          <% end %>
          <%= link_to project_path(project), class: "no-link-color", title: "Delete Project", method: "delete" do %>
          <i class="fas fa-times fa-1x nav-menu-icon" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>

    <a class="no-link-color project-card-link" id="<%= project.slug %>-link" href="<%= project.external_url ? project.url : 'projects/' + project.slug %>" rel="noopener noreferrer" target="_blank">
      <div class="link-image">
          <% if project.image.attachment != nil %>
            <%= image_tag(project.image.variant(resize_to_limit: [300, 300]), class: "project-image") unless project.image == nil %>
          <% end %>
      </div>
      <div class="image-label">
        <%= project.description %>
      </div>
    </a>

  </div>
  <% end %>


</section>