<div class="viewport">
  <div class="scene3D-container">
    <div class="scene3D">
      <% @projects.each do |project| %>
      <div class="project-card-3d">
        <a class="no-link-color project-card-link" id="<%= project.slug %>-link"
          href="<%= project.external_url ? project.url : 'projects/' + project.slug %>" rel="noopener noreferrer"
          target="_blank" data-replace-href="<%= !project.external_url %>">
          <div class="link-image">
            <% if project.image.attachment != nil %>
            <%= image_tag(project.image.variant(resize_to_limit: [300, 300]), class: "project-image") unless project.image == nil %>
            <% end %>
          </div>
          <div class="image-label">
            <%= project.description %>
          </div>
        </a>
      </div>
      <% end %>
      <div class="project-card-3d">
        <a class="no-link-color" id="all-projects-link" href="#">
          <div class="link-image text-align-center">
            <i class="far fa-plus-square fa-5x" aria-hidden="true"></i>
          </div>
          <div class="image-label">See All Projects</div>
        </a>
      </div>
    </div>
  </div>
</div>