<div class="diff-container">
  <h1 id="diff-header">We found some unsaved changes. Please select which version you want to use:</h1>
  <div id="saved-version-controls">
      <h3 id="saved-diff-header">Unsaved version:</h3>
      <button id="use-saved-version-button" class="submit-close-buttons submit-button">Use Unsaved Version</button>
  </div>
  <div id="saved-version">
    <% if !@titleDiffEmpty %>
      <p>Title: <%= raw @titleDiff.right %></p>
    <% end %>
    <% if !@contentDiffEmpty %>
      <p>Editor:</p>
      <form class="content-diff-display">
          <input id="saved-content-input" value='<%= raw @savedContent["editorState"] %>' type="hidden" name="content">
          <trix-editor id="saved-content-trix" contenteditable="false"></trix-editor>
      </form>
      <p>HTML diff: <%= raw @contentDiff.right %></p>
    <% end %>
    <% if !@tagsDiffEmpty %>
      <p>Tags: <%= raw @tagsDiff.right %></p>
    <% end %>
    <% if !@publishedDiffEmpty %>
      <p>Published: <%= raw @publishedDiff.right %></p>
    <% end %>
  </div>
  <div id="current-version-controls">
    <h3 id="current-diff-header">Current version:</h3>
    <button id="use-current-version-button" class="submit-close-buttons submit-button">Use Current Version</button>
  </div>
  <div id="current-version">
    <% if !@titleDiffEmpty %>
      <p>Title: <%= raw @titleDiff.left %></p>
    <% end %>
    <% if !@contentDiffEmpty %>
      <p>Editor:</p>
      <form class="content-diff-display">
          <input id="current-content-input" value='<%= raw @currentContent["editorState"] %>' type="hidden" name="content">
          <trix-editor id="current-content-trix" contenteditable="false"></trix-editor>
      </form>
      <p>HTML diff: <%= raw @contentDiff.left %></p>
    <% end %>
    <% if !@tagsDiffEmpty %>
      <p>Tags: <%= raw @tagsDiff.left %></p>
    <% end %>
    <% if !@publishedDiffEmpty %>
      <p>Published: <%= raw @publishedDiff.left %></p>
    <% end %>
  </div>
  
</div>