<div class="diff-container" data-new-post="<% if newPost %>true<% else %>false<% end %>">
  <h1 id="diff-header">We found some unsaved changes. <% if !newPost %>Please select which version you want to use:<% end %></h1>
  <div id="saved-version-controls">
      <h3 id="saved-diff-header">Unsaved version:</h3>
      <button id="use-saved-version-button" class="submit-close-buttons submit-button">Use Unsaved Version</button>
  </div>
  <div id="saved-version">
    <% if !titleDiffEmpty %>
      <p class="title-diff" data-value="<%= titleDiffText %>">Title: <%= raw titleDiff.right %></p>
    <% end %>
    <% if !contentDiffEmpty %>
      <p>Editor:</p>
      <form class="content-diff-display">
          <input id="saved-content-input" value='<%= raw savedContent["editorState"] %>' type="hidden" name="content">
          <trix-editor id="saved-content-trix" contenteditable="false"></trix-editor>
      </form>
      <p>HTML diff: <%= raw contentDiff.right %></p>
    <% end %>
    <% if !tagsDiffEmpty %>
      <p class="tags-diff" data-value="<%= tagsDiffText %>">Tags: <%= raw tagsDiff.right %></p>
    <% end %>
    <% if !publishedDiffEmpty %>
      <p class="published-diff" data-value="<%= publishedDiffText %>">Published: <%= raw publishedDiff.right %></p>
    <% end %>
  </div>
  <% if !newPost %>
  <div id="current-version-controls">
    <h3 id="current-diff-header">Current version:</h3>
    <button id="use-current-version-button" class="submit-close-buttons submit-button">Use Current Version</button>
  </div>
  <div id="current-version">
    <% if !titleDiffEmpty %>
      <p class="title-diff" data-value="<%= titleDiffText %>">Title: <%= raw titleDiff.left %></p>
    <% end %>
    <% if !contentDiffEmpty %>
      <p>Editor:</p>
      <form class="content-diff-display">
          <input id="current-content-input" value='<%= raw currentContent["editorState"] %>' type="hidden" name="content">
          <trix-editor id="current-content-trix" contenteditable="false"></trix-editor>
      </form>
      <p>HTML diff: <%= raw contentDiff.left %></p>
    <% end %>
    <% if !tagsDiffEmpty %>
      <p class="tags-diff" data-value="<%= tagsDiffText %>">Tags: <%= raw tagsDiff.left %></p>
    <% end %>
    <% if !publishedDiffEmpty %>
      <p class="published-diff" data-value="<%= publishedDiffText %>">Published: <%= raw publishedDiff.left %></p>
    <% end %>
  </div>
  <% end %>
  
</div>