<div class="diff-container" data-new-post="<% if newPost %>true<% else %>false<% end %>">
  <h1 id="diff-header">Unsaved changes found. <% if !newPost %>You can restore the unsaved changes or use the last saved verison.<% else %>Please click 'Restore Unsaved Changes' or click the 'X' to discard your unsaved changes.<% end %></h1>
  <div id="saved-version-controls">
      <h3 id="saved-diff-header">Unsaved Changes:</h3>
      <button id="use-saved-version-button" class="submit-close-buttons submit-button">Restore Unsaved Changes</button>
  </div>
  <div id="saved-version">
    <% if !titleDiffEmpty %>
      <p class="title-diff">Title: <%= raw titleDiff.right %></p>
    <% end %>
    <% if !contentDiffEmpty  %>
      <p>Editor:</p>
      <form class="content-diff-display">
          <input id="saved-content-input" type="hidden" name="content">
          <trix-editor id="saved-content-trix" contenteditable="false"></trix-editor>
      </form>
      <p>HTML diff: <%= raw contentDiff.right %></p>
    <% end %>
    <% if !tagsDiffEmpty  %>
      <p class="tags-diff">Tags: <%= raw tagsDiff.right %></p>
    <% end %>
    <% if !publishedDiffEmpty %>
      <p class="published-diff">Published: <%= raw publishedDiff.right %></p>
    <% end %>
  </div>
  <% if !newPost %>
  <div id="current-version-controls">
    <h3 id="current-diff-header">Saved Version:</h3>
    <button id="use-current-version-button" class="submit-close-buttons submit-button">Use Saved Version</button>
  </div>
  <div id="current-version">
    <% if !titleDiffEmpty %>
      <p class="title-diff">Title: <%= raw titleDiff.left %></p>
    <% end %>
    <% if !contentDiffEmpty  %>
      <p>Editor:</p>
      <form class="content-diff-display">
          <input id="current-content-input" type="hidden" name="content">
          <trix-editor id="current-content-trix" contenteditable="false"></trix-editor>
      </form>
      <p>HTML diff: <%= raw contentDiff.left %></p>
    <% end %>
    <% if !tagsDiffEmpty  %>
      <p class="tags-diff">Tags: <%= raw tagsDiff.left %></p>
    <% end %>
    <% if !publishedDiffEmpty %>
      <p class="published-diff">Published: <%= raw publishedDiff.left %></p>
    <% end %>
  </div>
  <% end %>
  
</div>