  <% provide(:title, "#{@post.title.truncate(20)}") %>
  <canvas id="post-comments-canvas"></canvas>
  <div id="show-post-container">
    <h1 id="show-post-title"><%= @post.title%></h1>
    <h3 id="show-post-metadata">Reading time: <span id="show-post-reading time"><%=pluralize(@post.reading_time, 'minute')%></span> | <span id="show-post-published-date"><%= @post.created_at.strftime("Published: %m/%d/%Y") %></span></h3>
    <% if @post.tags %>
      <div id="tag-container">
        <% @post.tags.each do |tag| %>
          <span class="post-tag-link"><%= link_to "\##{tag.name}", tag, {class: "tag-link"} %></span>
        <% end %>
      </div>
    <% end %>
    <div id="show-post-body" class="show-post-container">
        <a href="#" class="no-link-color" id="post-toggle-fullscreen">
            <i id="expand-post-icon" class="fas fa-expand fa-2x nav-menu-icon"></i>
            <i id="shrink-post-icon" class="fas fa-compress fa-2x nav-menu-icon"></i>
        </a>
        <%= @post.content %>
    </div>
    <% if @post.comments %>
      <div id="post-comments-container">
          <% @post.comments.each do |comment| %>
            <%= render 'comments/create', comment: comment %>
          <% end %>
      </div>
    <% end %>
    <div id="add-comment-to-post">
        <%= link_to new_comment_path(post_id: @post.id), class: "no-link-color", id: "add-new-comment-button", title: "Create Comment", remote: true do %>
        <button class="submit-close-buttons submit-button">Add Comment</button>
        <% end %>
    </div>

</div>