<% provide(:title, "Blog") %>
<div id="all-posts-container">
  <% if @posts.any? %>
    <% if logged_in? && current_user.admin? %>
      <% @posts.each do |post| %>
        <% @post = post %>
          <% if mobile_device == "mobile" %>
            <%= will_paginate @posts, :page_links => false %>
          <% else %>
            <%= will_paginate @posts %>
          <% end %> 
        <%= render 'post_nav' %>
        <%= render 'show', post: post %>
      <% end %>
    <% else %>
        <%= render 'show_user', posts: @posts.where(published: true) %>
    <% end %>
  <% end %>
</div>