<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %><% if yield(:title) != "" %> | BDWD<% else %>Big Dumb Web Dev<% end %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render 'layouts/fonts' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="main-body-section">
    <%= yield %>
  </body>
</html>
