<!DOCTYPE html>
<html>

<head>
  <title>
    <%= full_title(yield(:title)) %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= render 'layouts/open_graph_attributes' %>
  <%= render 'layouts/twitter_attributes' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= render 'layouts/fonts' %>
  <%= render 'layouts/icon' %>
  <%= render 'layouts/prism_css' %>
</head>

<body id="main-body-container">
  <%= render 'layouts/modal' %>
  <%= yield %>
  <%= render 'layouts/debug' if Rails.env.development? %>
  <%= render 'shared/nav_main' %>
  <%= javascript_pack_tag 'application' %>
  <%= render 'layouts/google_analytics' %>
  <%= render 'layouts/prism_js' %>
</body>

</html>